<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 添加通知權限 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- 添加啟動時自動運行的權限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCountDays"
        tools:targetApi="31">
        <activity
            android:name=".screen.AddeventActivity"
            android:exported="false"
            android:label="@string/title_activity_addevent"
            android:theme="@style/Theme.MyCountDays" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyCountDays">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 使用系統的 AppCompat 主題 -->
        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Theme.AppCompat"
            tools:replace="android:theme" />
        <!-- 添加一個 BroadcastReceiver 在設備重啟後自動啟動通知服務 -->
        <receiver
            android:name=".notification.BootCompletedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>